@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap');

* {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;

}
body {
    background-color: rgba(97, 149, 173, 0.514);
}
#up {
    position: fixed;
    color: whitesmoke;
    background-color: rgb(0, 0, 0);
    width: 45px;
    height: 45px;
    font-size: 2rem;
    padding: 5px;
    text-align: center;
    border-radius: 50%;
    bottom: 1.5rem;
    right: 1.5rem;
    box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.815);
    cursor: pointer;
    transition: all .4s ease;
}
.top-bar {
    background-color: rgba(0, 0, 0, 0.774);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-between;
}
.header-nav {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    justify-content: space-around;
}
.header-nav a {
    text-decoration: none;
    color: whitesmoke;
    width: 50%;
    font-size: 1.2rem;
}
@media screen and (max-width: 799px) {
    body {
        background-color: whitesmoke;
    }
    .logo {
        color: whitesmoke;
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
    }
    .top-bar {
        background-color: rgba(0, 0, 0, 0.774);
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        justify-content: space-between;
    }
    .header-nav {
        display: flex;
        flex-direction: column;
        line-height: 2.7rem;
        align-items: center;
        text-align: center;
        width: 100%;
    }
    .header-nav a {
        width: 100%;
    }
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .form-container {
        width: 95%;
        margin: 2rem auto;
        text-align: center;
        font-size: 1.6rem;
    }
    .names {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .mail {
        margin-top: 1rem;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .msg {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
    }
    .msg input {
        height: 150px;
    }
    .news {
        margin-top: 1rem;
        width: 100%;
    }
    .news span {
        font-size: 1.4rem;
    }
    .radio-inp {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.4rem;
        margin-top: 1rem;
    }
    .radio-inp label {
        text-transform: uppercase;
        margin-left: 10px;
        margin-right: 10px;
    }
    button {
        width: 40%;
        background-color: black;
        color: whitesmoke;
        margin-top: 1.5rem;
        transform: scale(1.3);
        
    }
    footer {
        background-color: rgba(0, 0, 0, 0.719);
        color: rgb(236, 236, 236);
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    footer h3 {
        font-size: 1.5rem;
        text-align: center;
    }
    .footer-sec p {
        font-size: 1.3rem;
        padding: 5px;
        text-align: justify;
    }
    .footer-sec {
        margin-top: 15px;
    }
    .footer-sec nav{
        display: flex;
        flex-direction: column;  
        padding-top: 10px;
    }
    .footer-sec nav a {
        padding: 7px;
        width: 100%;
        text-align: center;
        text-decoration: none;
        font-size: 1.3rem;
        color: rgb(236, 236, 236);
    }
}

@media screen and (min-width: 800px) {

    .top-bar {
        display: flex;
        align-items: center;
        height: 5rem;
        justify-content: space-between;
        padding: 10px;
        background: rgba(0, 0, 0, 0.699);
        box-shadow: 0 1px 4px black;
    }
    .logo {
        display: flex;
        align-items: center;
        font-family: 'Shippori Antique B1', sans-serif;
        letter-spacing: 2px;
        user-select: none;
    }
    .header-nav {
        display: flex;
        justify-content: space-around;
        width: 70%;
        font-size: 1.3rem;
    }
    .header-nav a {
        text-decoration: none;
        color: whitesmoke;
        transition: .4s ease;
        width: initial;
    }
    .header-nav a:hover{
        transform: scale(1.05);
        text-shadow: 0 0 5px white;
    }
    .form-section {
        height: 900px;
        width: 80%;
    }
    .form-container {
        width: 80%;
        text-align: center;
        height: 100%;
    }
    form {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
    }
    form label {
        font-size: 1.8rem;
    }
    section {
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: rgba( 255, 255, 255, 0.15 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 0.5px );
        -webkit-backdrop-filter: blur( 0.5px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        margin: 4rem auto;
        padding: 15px;
    }
    section button {
        width: 20%;
        border-radius: 77px;
        background: #e0e0e0;
        box-shadow:  9px 9px 100px #989898,
                    -9px -9px 100px #ffffff;
        font-size: 1.1rem;
        margin-bottom: 1rem;
        cursor: pointer;
        font-weight: bold;
        margin-left: 40%;
        transition: all .4s ease;
    }
    section button:hover {
        transform: scale(1.1);
    }
    section h1 {
        font-size: 2rem;
        font-family: 'Shippori Antique B1', sans-serif;
    }
    .names {
        width: 20%;
        margin: 0 auto;
    }
    .names input {
        border-radius: 5px;
        padding: 2px;
        height: 35px;
        width: 100%;
    }
    .mail {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .mail input {
        border-radius: 5px;
        padding: 2px;
        width: 30%;
        height: 35px;
    }
    .msg {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .msg input {
        border-radius: 5px;
        width: 80%;
        padding: 10px;
        height: 20rem;
    }
    .news {
        width: 100%;
        margin: 2rem auto;
        text-align: center;
    }
    input[type="radio"]{
        cursor: pointer;
    }
    footer {
        width: 100%;
        background-image: url(../img/footer-bg.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 60vh;
    }
    .footer-container {
        padding: 25px;
        box-shadow: 3px 0 8px rgba(255, 255, 255, 0.705);
        background-color: rgba(0, 0, 0, 0.521);
        height: 60vh;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .footer-sec {
        transform: translateY(-10%);
        width: 28%;
        padding: 15px;
        background: rgba(255, 255, 255, 0.747);
        box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.658);
        backdrop-filter: blur( 1px );
        -webkit-backdrop-filter: blur( 1px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
    }
    .footer-sec h3 {
        font-size: 1.6rem;
        text-align: center;
    }
    .footer-sec p {
        color: black;
        margin-top: 2rem;
        font-size: 1.2rem;
        text-align: justify;
    }
    .footer-sec nav {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-sec nav a {
        text-decoration: none;
        color: black;
        margin-top: 1.2rem;
        font-size: 1.2rem;
        text-align: center;
        transition: all .3s ease
    }
    .footer-sec nav a:hover{
        text-shadow: 0 0 2.2px black;
        text-decoration: underline;
    }
    
}