@import url("https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap");

* {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Mukta", sans-serif;
}
body {
  background-color: rgba(97, 149, 173, 0.514);
}
#up {
  position: fixed;
  color: whitesmoke;
  background-color: rgb(0, 0, 0);
  width: 45px;
  height: 45px;
  font-size: 2rem;
  padding: 5px;
  text-align: center;
  border-radius: 50%;
  bottom: 1.5rem;
  right: 1.5rem;
  box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.815);
  cursor: pointer;
  transition: all 0.4s ease;
}
.top-bar {
  background-color: rgba(0, 0, 0, 0.774);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: space-between;
}
.header-nav {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  justify-content: space-around;
}
.header-nav a {
  text-decoration: none;
  color: whitesmoke;
  width: 50%;
  font-size: 1.2rem;
}
.letter-nav {
  display: flex;
  background-color: whitesmoke;
  width: 90%;
  margin: 10px auto;
  justify-content: space-around;
  border: 1mm solid black;
  box-shadow: 0 0 5px black;
  border-radius: 5px;
}
.letter-nav a:hover {
  text-shadow: 0 0 1px black;
  text-decoration: underline;
  transform: scale(1.1);
}
.letter-nav a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
@media screen and (max-width: 799px) {
  body {
    background-color: whitesmoke;
  }
  .logo {
    color: whitesmoke;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
  }
  .top-bar {
      background-color: rgba(0, 0, 0, 0.774);
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      padding: 10px;
      justify-content: space-between;
  }
  .header-nav {
      display: flex;
      flex-direction: column;
      line-height: 2.7rem;
      align-items: center;
      text-align: center;
      width: 100%;
  }
  .header-nav a {
    width: 100%;
}
  article {
    padding: 7px;
    width: 95%;
    margin: 0 auto;
    border: .9mm solid black;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.623);
    margin-bottom: 2rem;
  }
  article h2 {
    text-align: center;
    font-size: 2.1rem;
  }
  dt {
    font-size: 1.4rem;
    font-weight: bold;
  }
  dd {
    font-style: oblique;
    padding: 5px;
    font-size: 1.2rem;
  }
  .letter-nav {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    background-color: whitesmoke;
  }
  .letter-nav a {
    font-size: 2.2rem;
    letter-spacing: 25px;
    font-weight: bold;
  }
  footer {
    background-color: rgba(0, 0, 0, 0.719);
    color: rgb(236, 236, 236);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  footer h3 {
    font-size: 1.5rem;
    text-align: center;
  }
  .footer-sec p {
    font-size: 1.3rem;
    padding: 5px;
    text-align: justify;
  }
  .footer-sec {
    margin-top: 15px;
  }
  .footer-sec nav {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
  }
  .footer-sec nav a {
    padding: 7px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-size: 1.3rem;
    color: rgb(236, 236, 236);
  }
}

@media screen and (min-width: 800px) {
  .top-bar {
    display: flex;
    align-items: center;
    height: 5rem;
    justify-content: space-between;
    padding: 10px;
    background: rgba(0, 0, 0, 0.699);
    box-shadow: 0 1px 4px black;
  }
  .logo {
    display: flex;
    align-items: center;
    font-family: "Shippori Antique B1", sans-serif;
    letter-spacing: 2px;
    user-select: none;
  }
  .header-nav {
    display: flex;
    justify-content: space-around;
    width: 70%;
    font-size: 1.3rem;
  }
  .header-nav a {
    text-decoration: none;
    color: whitesmoke;
    transition: 0.4s ease;
    width: initial;
  }
  .header-nav a:hover {
    transform: scale(1.05);
    text-shadow: 0 0 5px white;
  }
  article {
    width: 90%;
    padding: 15px;
    margin: 10px auto;
    border: thick double black;
    background: whitesmoke;
    border-radius: 5px;
    box-shadow: 0 0 4px black;
  }
  article h2 {
    text-align: center;
    font-size: 1.8rem;
  }
  .def {
    border: 3px solid rgba(97, 149, 173, 0.514);
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(7, 7, 7, 0.514);
    padding: 5px;
    margin: 15px 0;
    transition: all .4s ease;
    cursor: pointer;
  }
  .def:hover {
    transform: scale(1.01);
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.548);
  }
  dt {
    font-size: 1.4rem;
    font-family: "Shippori Antique B1", sans-serif;
  }
  dd {
    padding: 5px;
    font-style: oblique;
    font-family: cursive;
    font-size: 0.9rem;
  }
  footer {
    width: 100%;
    background-image: url(../img/footer-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
  }
  .footer-container {
      padding: 25px;
      box-shadow: 3px 0 8px rgba(255, 255, 255, 0.705);
      background-color: rgba(0, 0, 0, 0.521);
      height: 60vh;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
  }
  .footer-sec {
      width: 28%;
      padding: 15px;
      background: rgba(255, 255, 255, 0.747);
      box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.658);
      backdrop-filter: blur( 1px );
      -webkit-backdrop-filter: blur( 1px );
      border-radius: 10px;
      border: 1px solid rgba( 255, 255, 255, 0.18 );
  }
  .footer-sec h3 {
      font-size: 1.6rem;
      text-align: center;
  }
  .footer-sec p {
      color: black;
      margin-top: 2rem;
      font-size: 1.2rem;
      text-align: justify;
  }
  .footer-sec nav {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  .footer-sec nav a {
      text-decoration: none;
      color: black;
      margin-top: 1.2rem;
      font-size: 1.2rem;
      text-align: center;
      transition: all .3s ease
  }
  .footer-sec nav a:hover{
      text-shadow: 0 0 2.2px black;
      text-decoration: underline;
  }

}
