@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap');

* {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
}
body {
    background-color: rgba(97, 149, 173, 0.514);
}
#up {
    position: fixed;
    color: whitesmoke;
    background-color: rgb(0, 0, 0);
    width: 45px;
    height: 45px;
    font-size: 2rem;
    padding: 5px;
    text-align: center;
    border-radius: 50%;
    bottom: 1.5rem;
    right: 1.5rem;
    box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.815);
    cursor: pointer;
    transition: all .4s ease;
}
.logo {
    color: white;
    font-size: 1.4rem;
}
.top-bar {
    background-color: rgba(0, 0, 0, 0.774);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-between;
}
.header-nav {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    justify-content: space-around;
}
.header-nav a {
    text-decoration: none;
    color: whitesmoke;
    width: 50%;
    font-size: 1.2rem;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../img/header-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    height: 60vh;
    position: relative;
    z-index: 2;
    margin-bottom: 2rem;
    box-shadow: 0 1px 3px black;
}
.baseline{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    height: 8rem;
    width: 80%;
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba(7, 7, 7, 0.37);
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur( 3.5px );
    border-radius: 10px;
}
.baseline strong {
        color: black;
        font-size: 3rem;
        font-family: 'Shippori Antique B1', sans-serif;
        text-transform: uppercase;
    }
.baseline-bot {
    margin-bottom: 1rem;
    text-transform: capitalize;
    font-size: 1.3rem;
    font-style: oblique;
}

@media screen and (max-width: 799px) {
    body {
        background-color: whitesmoke;
    }
    .logo {
        color: whitesmoke;
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
    }
    .top-bar {
        background-color: rgba(0, 0, 0, 0.774);
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        justify-content: space-between;
    }
    .header-nav {
        display: flex;
        flex-direction: column;
        line-height: 2.7rem;
        align-items: center;
        text-align: center;
        width: 100%;
    }
    .header-nav a {
        width: 100%;
    }
    .baseline, .baseline strong {
        font-size: 1.6rem;
    }
    .baseline {
        margin-top: 10%;
        transform: none;
        position: unset;
    }
    article h3 {
        text-align: center;
        margin: 10px 0;
        font-size: 1.5rem;
        font-family: 'Shippori Antique B1', sans-serif;
    }
    main img {
        text-align: center;
        width: 100%;
        height: auto;
    }
    article {
        background-color: rgba(97, 149, 173, 0.514);
        border: 1px solid black;
        margin: 15px 0;
    }
    article p, article ul, article li {
        padding: 10px;
    }
    article ol {
        padding: 50px;
    }
    ol li {
        font-size: 1.4rem;
        font-family: 'Shippori Antique B1', sans-serif;
    }
    article p {
        font-size: 1.1rem;
    }
    footer {
        background-color: rgba(0, 0, 0, 0.719);
        color: rgb(236, 236, 236);
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    footer h3 {
        font-size: 1.5rem;
        text-align: center;
    }
    .footer-sec p {
        font-size: 1.3rem;
        padding: 5px;
        text-align: justify;
    }
    .footer-sec {
        margin-top: 15px;
    }
    .footer-sec nav{
        display: flex;
        flex-direction: column;  
        padding-top: 10px;
    }
    .footer-sec nav a {
        padding: 7px;
        width: 100%;
        text-align: center;
        text-decoration: none;
        font-size: 1.3rem;
        color: rgb(236, 236, 236);
    }
}
@media screen and (min-width: 800px) {
    body {
        background: radial-gradient(ellipse at bottom, #1b2735 0%,#090a0f 100%);
    }
    
    #up:hover {
        transform: translateY(-10%);
    }
    .top-bar {
        display: flex;
        align-items: center;
        height: 5rem;
        justify-content: space-between;
        padding: 10px;
        background: rgba(0, 0, 0, 0.699);
        box-shadow: 0 1px 4px black;
    }
    .logo {
        display: flex;
        align-items: center;
        font-family: 'Shippori Antique B1', sans-serif;
        letter-spacing: 2px;
        user-select: none;
    }
    .header-nav {
        display: flex;
        justify-content: space-around;
        width: 70%;
        font-size: 1.3rem;
    }
    .header-nav a {
        text-decoration: none;
        color: whitesmoke;
        transition: .4s ease;
        width: initial;
    }
    .header-nav a:hover{
        transform: scale(1.05);
        text-shadow: 0 0 5px white;
    }
    .baseline{
        width: 20%;
    }
    header {
        background: 
            linear-gradient(180deg, rgba(0, 0, 0, 0.92),rgba(54, 54, 54, 0.5) 39.24%,rgba(28, 28, 28, 0.4)),
            local, fixed url(../img/header-img.jpg);
        background-repeat: no-repeat;
        background-position: bottom;
        color: white;
        height: 60vh;
        z-index: 2;
        position: relative;
        margin-bottom: 2rem;
        box-shadow: 0 1px 3px black;
    }
    main {
        width: 90%;
        margin: 0 auto;
        padding: 20px;
    }
    
    article {
        margin: 2rem 0;
        padding: 10px;
        border: 1mm solid rgba(0, 0, 0, 0.774);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: whitesmoke;
    }
    article h3 {
        margin: 20px 0;
        font-family: 'Shippori Antique B1', sans-serif;
        font-size: 2.2rem;
    }
    article p {
        text-align: justify;
        line-height: 23px;
        margin: 20px 0;
        padding: 20px;
        font-size: 1.4rem;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    article img {
        width: 30%;
        border: 2mm solid wheat;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.856);
    }
    article ol {
        padding: 50px;
    }
    
    ol li {
        font-size: 1.6rem;
        font-weight: bold;
    }
    .intern-ul {
        margin-top: -2rem;
    }
    .intern-ul li {
        font-size: initial;
        margin-left: 5rem;
        font-size: 1.4rem;
    }
    .intro-p {
        text-align: justify;
        line-height: 25px;
        font-size: 1.4rem;
    }
    .warning {
        font-style: oblique;
        font-weight: bolder;
    }
    footer {
        width: 100%;
        background-image: url(../img/footer-bg.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 60vh;
    }
    .footer-container {
        padding: 25px;
        box-shadow: 3px 0 8px rgba(255, 255, 255, 0.705);
        background-color: rgba(0, 0, 0, 0.521);
        height: 60vh;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .footer-sec {
        width: 28%;
        padding: 15px;
        background: rgba(255, 255, 255, 0.747);
        box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.658);
        backdrop-filter: blur( 1px );
        -webkit-backdrop-filter: blur( 1px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
    }
    .footer-sec h3 {
        font-size: 1.6rem;
        text-align: center;
    }
    .footer-sec p {
        color: black;
        margin-top: 2rem;
        font-size: 1.2rem;
        text-align: justify;
    }
    .footer-sec nav {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-sec nav a {
        text-decoration: none;
        color: black;
        margin-top: 1.2rem;
        font-size: 1.2rem;
        text-align: center;
        transition: all .3s ease
    }
    .footer-sec nav a:hover{
        text-shadow: 0 0 2.2px black;
        text-decoration: underline;
    }
    
}