@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap');

* {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;

}
body {
    background-color: rgba(97, 149, 173, 0.514);
}
#up {
    position: fixed;
    color: whitesmoke;
    background-color: rgb(0, 0, 0);
    width: 45px;
    height: 45px;
    font-size: 2rem;
    padding: 5px;
    text-align: center;
    border-radius: 50%;
    bottom: 1.5rem;
    right: 1.5rem;
    box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.815);
    cursor: pointer;
    transition: all .4s ease;
}
.logo {
    color: whitesmoke;
}
.top-bar {
    background-color: rgba(0, 0, 0, 0.774);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-between;
}
.header-nav {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    justify-content: space-around;
}
.header-nav a {
    text-decoration: none;
    color: whitesmoke;
    width: 50%;
    font-size: 1.2rem;
}

@media screen and (max-width: 799px) {
    body {
        background-color: whitesmoke;
    }
    .logo {
        color: whitesmoke;
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
    }
    .top-bar {
        background-color: rgba(0, 0, 0, 0.774);
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        justify-content: space-between;
    }
    .header-nav {
        display: flex;
        flex-direction: column;
        line-height: 2.7rem;
        align-items: center;
        text-align: center;
        width: 100%;
    }
    section h1 {
        text-align: center;
        margin-top: 1rem;
        font-size: 2rem;
        font-family: 'Shippori Antique B1', sans-serif;
    }
    section img {
        width: 100%;
        margin: 2rem 0;
    }
    .who-container {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
    .who-container:last-child {
        margin-bottom: 2rem;
    }
    .who-container h2 {
        margin-top: 3rem;
        text-align: center;
        font-size: 2rem;
        text-transform: uppercase;
    }
    .who-container p {
        margin-top: 15px;
        font-size: 1.3rem;
    }
    footer {
        background-color: rgba(0, 0, 0, 0.719);
        color: rgb(236, 236, 236);
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    footer h3 {
        font-size: 1.5rem;
        text-align: center;
    }
    .footer-sec p {
        font-size: 1.3rem;
        padding: 5px;
        text-align: justify;
    }
    .footer-sec {
        margin-top: 15px;
    }
    .footer-sec nav{
        display: flex;
        flex-direction: column;  
        padding-top: 10px;
    }
    .footer-sec nav a {
        padding: 7px;
        width: 100%;
        text-align: center;
        text-decoration: none;
        font-size: 1.3rem;
        color: rgb(236, 236, 236);
    }
}

@media screen and (min-width: 800px) {

    .top-bar {
        display: flex;
        align-items: center;
        height: 5rem;
        justify-content: space-between;
        padding: 10px;
        background: rgba(0, 0, 0, 0.699);
        box-shadow: 0 1px 4px black;
    }
    .logo {
        display: flex;
        align-items: center;
        font-family: 'Shippori Antique B1', sans-serif;
        letter-spacing: 2px;
        user-select: none;
    }
    .header-nav {
        display: flex;
        justify-content: space-around;
        width: 70%;
        font-size: 1.3rem;
    }
    .header-nav a {
        text-decoration: none;
        color: whitesmoke;
        transition: .4s ease;
        width: initial;
    }
    .header-nav a:hover{
        transform: scale(1.05);
        text-shadow: 0 0 5px white;
    }
    article {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        flex-wrap: wrap;
        margin: 2rem auto;
    }
    .main-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main-section h1 {
        margin: 1.5rem 0;
        width: 60%;
        text-align: center;
        font-size: 2rem;
        text-transform: uppercase;
        padding: 8px;
        color: whitesmoke;
        border: .8mm solid rgba(97, 149, 173, 0.938);
        background-color: rgba(0, 0, 0, 0.815);
        border-radius: 3px;
        font-family: 'Shippori Antique B1', sans-serif;
    }
    .main-section img {
        width: 65%;
        border-radius: 5px;
        box-shadow: 0 0 6px black;
    }
    .who-container {
        color: whitesmoke;
        padding: 25px;
        width: 40%;
        background: rgba( 0, 0, 0, 0.4 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 5px );
        -webkit-backdrop-filter: blur( 5px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
    }
    .who-container:last-child {
        margin-top: 2.5rem;
    }
    .who-container h2 {
        text-transform: uppercase;
        text-align: center;
        font-size: 1.9rem;
        text-decoration: underline;
    }
    .who-container p {
        padding: 25px;
        text-align: justify;
    }
    footer {
        width: 100%;
        background-image: url(../img/footer-bg.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 60vh;
    }
    .footer-container {
        padding: 25px;
        box-shadow: 3px 0 8px rgba(255, 255, 255, 0.705);
        background-color: rgba(0, 0, 0, 0.521);
        height: 60vh;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .footer-sec {
        width: 28%;
        padding: 15px;
        background: rgba(255, 255, 255, 0.747);
        box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.658);
        backdrop-filter: blur( 1px );
        -webkit-backdrop-filter: blur( 1px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
    }
    .footer-sec h3 {
        font-size: 1.6rem;
        text-align: center;
    }
    .footer-sec p {
        color: black;
        margin-top: 2rem;
        font-size: 1.2rem;
        text-align: justify;
    }
    .footer-sec nav {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-sec nav a {
        text-decoration: none;
        color: black;
        margin-top: 1.2rem;
        font-size: 1.2rem;
        text-align: center;
        transition: all .3s ease
    }
    .footer-sec nav a:hover{
        text-shadow: 0 0 2.2px black;
        text-decoration: underline;
    }
    
}